In [1]:
from importlib.metadata import version
import nltk
import tensorflow
import summa
import pandas as pd

# 1) 데이터 수집하기

In [2]:
import urllib.request
urllib.request.urlretrieve("https://raw.githubusercontent.com/sunnysai12345/News_Summary/master/news_summary_more.csv", filename="news_summary_more.csv")
data = pd.read_csv('news_summary_more.csv', encoding='iso-8859-1')

data.sample(10)

,headlines,text
24783,UP Police uses Sacred Games reference in tweet...,The Uttar Pradesh Police's official Twitter ha...
82225,HC orders SpiceJet to deposit Ã¢ÂÂ¹579 cr in ...,The Delhi High Court on Monday directed SpiceJ...
20452,11 including 3 kids dead after SUV falls in go...,"At least 11 people, including three children, ..."
69656,Mumbai airport to be saturated by 2018: Report,Mumbai's Chhatrapati Shivaji International Air...
28290,Nirav Modi's firms received an LoU every two d...,Nirav Modi's firms allegedly received one Lett...
33639,Punjab behind H'yana in sports due to drug men...,Punjab Sports Minister Rana Gurmeet Singh Sodh...
15190,NASA which turns 60 today was once sued for 'i...,NASA was once sued by three men from Yemen who...
56317,Asking foreigners for selfies intrusion of pri...,Tourism Minister KJ Alphons on Thursday said t...
59343,TN cop suspended for attacking man riding with...,A Tamil Nadu traffic police constable has been...
16522,Ã¢ÂÂRobotic SkinsÃ¢ÂÂ that turn everyday o...,Researchers from Yale University have develope...

# 2) 데이터 전처리하기 (추상적 요약)

# 3) 어텐션 메커니즘 사용하기 (추상적 요약)

# 4) 실제 결과와 요약문 비교하기 (추상적 요약)

# 5) Summa를 이용해서 추출적 요약해보기